.county {
  stroke: grey;
  stroke-width: 0.3;
  cursor: pointer;
}

.background {
  fill: none;
  pointer-events: all;
}


.county.active {
  fill: orange;
}

.mesh {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
}

div.tooltip {
  position: absolute;
  text-align: left;
  width: 140px;
  height: 55px;
  padding: 2px;
  font: 12px sans-serif;
  background: white;
  color: black;
  border: 1px solid grey;
  border-radius: 8px;
  pointer-events: none;
}

#legend-container {
  fill: white;
  stroke: grey;
  stroke-width: 2;
}


.bubble {
  fill-opacity: .5;
  stroke: #fff;
  stroke-width: .5px;
  fill: red;
}
