<div class="card-container">
  <div class="row">
    <div class="col-md-12">
      <kendo-card class="kendo-card" style="min-width:1200px">
        <kendo-card-body>
          <i class="material-icons">{{icon}}</i>
          <div class="container-fluid card-title">
            <div class="row">                
              <div class="col-md-12">
                <h4>  <button kendoButton [icon]="'arrow-chevron-left'" (click)="navigateLeft()"></button> {{metric}} in {{selectedState}} By County</h4>
              </div>
            </div>
          </div>
          <app-counties-map #countiesMap></app-counties-map>
        </kendo-card-body>
      </kendo-card>
    </div>
  </div>
</div>


