<mat-card class="container">
    <mat-card-title class="title">
        <mat-icon (click)="navigateLeft()" class="left">keyboard_arrow_left</mat-icon>
        <div>Cases in {{selectedState}} By County</div>
        <mat-icon (click)="navigateRight()" class="right"></mat-icon>
    </mat-card-title>
    <mat-card-content id="ordersByStatus" #ordersByStatus>
        <div id="chartAndDataContainer">
            <div id="chartContainer" [ngClass]="{'half': chartControlsService.showData}">
                <app-counties-map #ordersByStatusChart [data]="chartData"></app-counties-map>
            </div>
        </div>
    </mat-card-content>
</mat-card>
